/*
 * General
 */

body {
}

img {
  border-width: 0;
}

h1 {
  text-align: center;
}
h1:before {
  content:url(images/logo/FreeDoko.icon-flop.png);
  padding-right:1em;
}
h1:after {
  content:url(images/logo/FreeDoko.icon.png);
  padding-left:1em;
}
h2 {
  margin-top: 3ex;
}
h2 img {
  height: 3ex;
  vertical-align: middle;
}
h3 {
  margin-top: 2.5ex;
  margin-bottom: 1.5ex;
}

dd, dt, li, p {
  text-align: justify;
}

.download a {
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}
.download a {
  text-decoration: none;
  border-radius: 1ex;
  color: white;
  padding: 1ex;
  border: solid 2px blue;
  background-color: rgb(81, 166, 217);
}
.download a {
  display: inline-block;
}
.download td a {
  display: block;
}
.download a:hover {
  background-color: rgba(81, 166, 217, 0.7);
}
.download img {
  vertical-align: middle;
  object-fit: contain;
  width: 4ex;
  height: 4ex;
}
.download td {
  text-align: left;
}


@media screen {
  /*
   * Positionen
   */
#column_left,
#column_right {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 45px;
}
#column_left {
  z-index: 6;
  left: 0;
}
#column_right {
  z-index: 6;
  right: 0;
}

#navigation {
  z-index: 5;
  top: 0;
  position: fixed;
  left: 45px;
}

#content {
  z-index: 1;
  position: absolute;
  left: 45px;
  right: 45px;
  top: 0;
}

/*
 * Darstellung
 */
#column_left {
  /* background-image: url(images/column.xskat.french.png); */
  background-image: url(images/column.InnoCard.png);
}
#column_right {
  /* background-image: url(images/column.xskat.german.png); */
  background-image: url(images/column.InnoCard.png);
}
#column_left,
#column_right {
  background-attachment: scroll;
  background-repeat: repeat-y;
  border-width: 0.5em;
  border-bottom-width: 0;
  border-style: solid;
}

#navigation {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
#navigation ul {
  margin: 0;
  padding: 0;
}
#navigation li {
  min-width: 8em;
  text-align: center;
}

#navigation li {
  display: table-cell;
  text-align: center;
}
#navigation li a,
#navigation li span {
  padding: 0.75ex 0;
  display: block;
}
#navigation li img {
  height: 2ex;
  vertical-align: middle;
}

#navigation a {
  text-decoration: none;
}
#navigation span {
  font-weight: bold;
}
#navigation a:hover {
  font-weight: bold;
}

#content {
  /*border: 1px solid green;*/
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3ex;
  margin-bottom: 1ex;
  /* background-image:url(images/column.png); */
  /*
  background-image: url(images/FreeDoko.logo.small.png);
  background-position: top left;
  background-repeat: no-repeat;
   */
} /* #content */

/* ToDo
 * move the sourceforge part out of 'content' and let it be at the bottom of the page, but below the text.
 */
#sourceforge {
  border-top: 1px solid gray;
  z-index: -1;
  margin: 2ex auto 0;
  width: 100%;
  padding-top: 1ex;
  padding-bottom: 1ex;
  text-align: center;
}

#site_navigation {
  margin: 0 auto;
  display: table;
}
#site_navigation > ul {
  margin: 1ex 0.5em;
}
#site_navigation ul {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
}
#site_navigation ul ul {
  margin-left: 2em;
  font-size: smaller;
}
#site_navigation a {
  text-decoration: none;
}


.toc {
  display: table;
  margin: 0 auto;
}
.toc > ul {
  list-style-type: none;
  list-style-image: none;
  font-size: medium;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.toc > ul > li > a {
  display: block;
  padding: 0.5ex 1em;
  border-top: 1px solid black;
  text-align: center;
}
.toc > ul > li:first-child > a {
  border-top-style: none;
}
.toc ul li a {
  text-decoration: none;
}



/*
 * Farben
 */

body {
  background-color: white;
}
#column_left,
#column_right,
#navigation ul,
#alternates {
  background-color: #DDD;
  border-color: #DDD;
}
#navigation > ul {
  /*
  border-width: 3px;
  border-style: outset;
   */
}
#navigation ul span {
  background-color: #BBB;
}
#navigation ul a:hover {
  background-color: #CCC;
}

#site_navigation {
  border: 1px outset #888;
  background-color: #DDD;
}

.tocs_overview {
  display: table;
  width: 100%;
}
.tocs_overview .left,
.tocs_overview .right {
  display: table-cell;
  width: 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.tocs_overview p {
  text-align: center;
}

.toc {
  background-color: #CCC;
  border: 0.5ex outset #CCC;
}
.toc li {
  background-color: #CCC;
}
.toc > ul > li > a:hover {
  background-color: #999;
}

}

@media print {
  #column_left,
  #column_right {
    display: none;
  }
  #navigation {
    display: none;
  }

}
